.cs-blue,
.cs-red,
.cs-white {
    .header-buttons .header-user-btn {
        background: transparent none;
        -webkit-transition: all 200ms;
        -moz-transition: all 200ms;
        -o-transition: all 200ms;
        transition: all 200ms;
        will-change: background, color;
    }
}

.cs-blue .header-buttons .header-user-btn {
    border: 1px solid #FFF;

    &:hover, &:active, &:focus {
        background-color: #FFF;
        color: #0093cc;
    }
}

.cs-red .header-buttons .header-user-btn {
    border: 1px solid #FFF;

    &:hover, &:active, &:focus {
        background-color: #FFF;
        color: #903;
    }
}

.cs-white .header-buttons .header-user-btn {
    border: 1px solid #364047;

    &:hover, &:active, &:focus {
        background-color: #364047;
        color: #FFF;
    }
}